:root {
    --primaryColor: #1A1A2E;
    --secondaryColor: #0F3460;
}

* {
    box-sizing: border-box;

}

html body {
    background-color: var(--primaryColor);
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-width: 320px;
}

.root {
    display: flex !important;
    flex-direction: column;

}

header {
    padding: 1rem;
    background-color: var(--secondaryColor);
    display: flex;
    justify-content: center;

}

.search {
    border: 2px solid var(--primaryColor);
    background-color: transparent;
    color: white;
    font-family: inherit;
    padding: 0.2rem 1.5rem;
}

.search:focus {
    outline: none;
}

input,
select,
textarea {
    color: #f00;
}


.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}

.movie-container ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    /* color: #f00; */
    background-color: var(--secondaryColor);
}

.movie-container ::-webkit-scrollbar-thumb {
    background: white;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    /* border-radius: 10px; */
}

.movie {
    background-color: var(--secondaryColor);
    width: 243px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .movie {
        width: 220px;
    }

    .movie-overview {
        font-size: 85%;
    }

}

.movie-overview {
    background-color: var(--secondaryColor);
    color: white;
    padding: 0.5rem;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview {
    transform: translateX(0%);
}

.blurred:hover {
    filter: blur(2px);
}

.movie img {
    max-width: 100%;
}

.movie-info {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    padding: 0.3rem !important;
}

.movie-info h5 {
    margin: 0;
}

.card-title {
    font-size: 0.9rem;
}

.tag {
    background-color: var(--primaryColor);
    padding: 0.5rem;
    text-align: center;
    margin: 1px;
    border-radius: 5px;
    min-width: 40px;
}

.tag.green {
    color: green;
}

.tag.orange {
    color: orange;
}

.tag.red {
    color: red;
}